body {
  background-color: white;
  margin: 0;
}
.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blogname {
  font-weight: bold;
  padding: 0 10px;
  font-size: 12px;
}
#navbar li {
  display: inline-block;
}
#navbar a {
  text-decoration: none;
  font-size: 15px;
  padding-right: 15px;
  font-weight: bold;
}
.line {
  border-bottom: 2px solid black;
  margin-top: 10px;
  width: auto;
}
ul.list {
  list-style-type: disc;
}
